# BigQuery Data

Set the GCP Project:

In [6]:
PROJECT_ID = "statmike-mlops"
!gcloud config set project $PROJECT_ID
%env GCLOUD_PROJECT=$PROJECT_ID

Updated property [core/project].
WARNING: You do not appear to have access to project [statmike-mlops] or it does not exist.
env: GCLOUD_PROJECT=statmike-mlops

Make a client connection to BigQuery

In [2]:
from google.cloud import bigquery
bq = bigquery.Client(project=PROJECT_ID)

List BigQuery datasets in the project:

In [21]:
datum=[]
for ds in list(bq.list_datasets()): datum.append(ds.dataset_id)
print(datum)

[]

Set Parameters for creating datasets and loading data files to tables:

In [22]:
LOCATION = 'us'

URI = 'gs://statmike-mlops/data'
FILE = 'digits.csv'
FILE_URI = '%s/%s' % (URI,FILE)

DATASET_ID = 'digits'
TABLE_ID = 'digits_source'

Create the dataset if missing:

In [23]:
if DATASET_ID not in datum:
    dataset = bigquery.Dataset(bigquery.dataset.DatasetReference(PROJECT_ID, DATASET_ID))
    dataset.location = LOCATION
    dataset = bq.create_dataset(DATASET_ID)

Load data to a table in the dataset:

In [24]:
dataset_ref = bq.dataset(DATASET_ID)
table_ref = dataset_ref.table(TABLE_ID)
job_config = bigquery.LoadJobConfig(write_disposition="WRITE_TRUNCATE")
job_config.source_format = bigquery.SourceFormat.CSV
job_config.autodetect = True

job = bq.load_table_from_uri(FILE_URI, table_ref, job_config=job_config)
print("Starting job {}".format(job.job_id))
job.result()
      
bq_table = bq.get_table(table_ref) 
print("Loaded {} rows and {} columns to {}.".format(bq_table.num_rows,len(bq_table.schema),bq_table))

Starting job 615b272b-a22d-40cc-8d4e-7c716ee27400
Loaded 1797 rows and 66 columns to Table(TableReference(DatasetReference('statmike-mlops', 'digits'), 'digits_source')).

Use the BigQuery magic to review a few records (this uses the BQ storage API):

In [45]:
%%bigquery
SELECT * FROM `statmike-mlops.digits.digits_source` LIMIT 5

,p0,p1,p2,p3,p4,p5,p6,p7,p8,p9,...,p56,p57,p58,p59,p60,p61,p62,p63,target,target_OE
0,0.0,5.0,16.0,15.0,5.0,0.0,0.0,0.0,0.0,2.0,...,0.0,6.0,16.0,16.0,16.0,16.0,7.0,0.0,2,Even
1,0.0,5.0,16.0,12.0,1.0,0.0,0.0,0.0,0.0,5.0,...,0.0,8.0,16.0,16.0,16.0,16.0,4.0,0.0,2,Even
2,0.0,5.0,15.0,16.0,6.0,0.0,0.0,0.0,0.0,11.0,...,0.0,6.0,16.0,16.0,16.0,13.0,3.0,0.0,2,Even
3,0.0,4.0,15.0,15.0,8.0,0.0,0.0,0.0,0.0,8.0,...,0.0,7.0,14.0,11.0,0.0,0.0,0.0,0.0,2,Even
4,0.0,6.0,16.0,16.0,16.0,15.0,10.0,0.0,0.0,9.0,...,0.0,9.0,16.0,11.0,0.0,0.0,0.0,0.0,5,Odd

Create a prepped version of the data with test/train splits:

In [50]:
%%bigquery
CREATE OR REPLACE TABLE `statmike-mlops.digits.digits_prepped` AS
SELECT *, 
    CASE WHEN MOD(ABS(FARM_FINGERPRINT(GENERATE_UUID())),10) < 8 THEN 'TRAIN' ELSE 'TEST' END AS SPLITS
FROM `statmike-mlops.digits.digits_source`

Empty DataFrame
Columns: []
Index: []

In [51]:
%%bigquery
SELECT splits, count(*) as Count
FROM `statmike-mlops.digits.digits_prepped`
GROUP BY splits

  splits  Count
0  TRAIN   1433
1   TEST    364

Retrieve a subset of the data to a Pandas dataframe:

In [52]:
%%bigquery digits
SELECT * FROM `statmike-mlops.digits.digits_prepped` WHERE target = 2

In [53]:
digits.head()

,p0,p1,p2,p3,p4,p5,p6,p7,p8,p9,...,p57,p58,p59,p60,p61,p62,p63,target,target_OE,SPLITS
0,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,11.0,16.0,9.0,0.0,2,Even,TRAIN
1,0.0,0.0,0.0,8.0,15.0,8.0,0.0,0.0,0.0,0.0,...,0.0,0.0,9.0,12.0,14.0,4.0,0.0,2,Even,TRAIN
2,0.0,0.0,0.0,0.0,9.0,13.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,9.0,15.0,9.0,0.0,2,Even,TEST
3,0.0,0.0,0.0,1.0,9.0,11.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,9.0,13.0,3.0,0.0,2,Even,TRAIN
4,0.0,0.0,0.0,3.0,15.0,10.0,1.0,0.0,0.0,0.0,...,0.0,0.0,4.0,9.0,14.0,7.0,0.0,2,Even,TRAIN

# Remove Resources
- delete table `statmike-mlops.digits.digits_prepped`
- delete table `statmike-mlops.digits.digits_source`
- delete dataset `statmike-mlops`