# Notes:

---
## Create json file for predictions:

In [ ]:
%%bigquery pred
SELECT *
FROM ML.PREDICT(MODEL `statmike-mlops.digits.digits_lr`,(
    SELECT *
    FROM `statmike-mlops.digits.digits_prepped`)
  )

In [ ]:
newob = pred.loc[:0,'p0':'p63'].to_dict(orient='records')
newob = {'instances':newob}
newob

In [ ]:
import json
with open('newob.json','w') as f:
    json.dump(newob,f)

---
## Trouble with passing dataset.table info to %%bigquery magic

In [1]:
PROJECT_ID = 'statmike-mlops'
DATASET_ID = 'digits'
TABLE_ID = 'digits_prepped'
PDT = "`{}.{}.{}`".format(PROJECT_ID,DATASET_ID,TABLE_ID)
params = {"SOURCE":PDT}

In [2]:
%%bigquery --params $params
SELECT *
FROM @PDT
WHERE TARGET=2 and SPLITS='TEST'

Executing query with job ID: 9c6d8a0f-25c0-4e0e-9dae-cab973998ceb
Query executing: 0.87s

ERROR:
 400 Query parameters cannot be used in place of table names at [2:6]

(job ID: 9c6d8a0f-25c0-4e0e-9dae-cab973998ceb)

   -----Query Job SQL Follows-----

    |    .    |    .    |    .    |
   1:SELECT *
   2:FROM @PDT
   3:WHERE TARGET=2 and SPLITS='TEST'
    |    .    |    .    |    .    |