# DEV - K-Means

- Overview: try pca, **kmeans**, autoencoder
- Idea: anomalies compare to predicted class
- Thought: but these are alread principal components...

**Hyperparameter Tuning**

When training a machine learning model it is helpful to find the optimal values for hyperparameters, parameters set before training begins.  These are not learned parameters like the coefficents of a model.  Rather than manually iterating these parameters we want to sequently test and focus in on optimal values.  The focusing part of the iterations is done in BQML by utilizing the [Vertex AI Vizier](https://cloud.google.com/vertex-ai/docs/vizier/overview) service by default.

Each `MODEL_TYPE` in BQML has parameters than can be tuned as [listed here](https://cloud.google.com/bigquery-ml/docs/reference/standard-sql/bigqueryml-hyperparameter-tuning#hyperparameters_and_objectives). 

**Prerequisites:**
-  01 - BigQuery - Table Data Source

**Resources:**
-  [BigQuery ML (BQML) Overview](https://cloud.google.com/bigquery-ml/docs/introduction)
-  [Overview of BQML methods and workflows](https://cloud.google.com/bigquery-ml/docs/reference/standard-sql/bigqueryml-syntax-e2e-journey)

**Conceptual Flow & Workflow**

---
## Setup

inputs:

In [1]:
project = !gcloud config get-value project
PROJECT_ID = project[0]
PROJECT_ID

'statmike-mlops-349915'

In [2]:
REGION = 'us-central1'
EXPERIMENT = 'kmeans'
SERIES = '03'

# source data
BQ_PROJECT = PROJECT_ID
BQ_DATASET = 'fraud'
BQ_TABLE = 'fraud_prepped'

# Resources for serving BigQuery Model Exports
TF_DEPLOY_IMAGE = 'us-docker.pkg.dev/vertex-ai/prediction/tf2-cpu.2-3:latest'
XGB_DEPLOY_IMAGE = 'us-docker.pkg.dev/vertex-ai/prediction/xgboost-cpu.0-82:latest'

# Model Training
VAR_TARGET = 'Class'
VAR_OMIT = 'transaction_id' # add more variables to the string with space delimiters

packages:

In [3]:
from google.cloud import bigquery
from google.cloud import aiplatform
from datetime import datetime
import matplotlib.pyplot as plt

clients:

In [4]:
bq = bigquery.Client()
aiplatform.init(project=PROJECT_ID, location=REGION)

parameters:

In [5]:
TIMESTAMP = datetime.now().strftime("%Y%m%d%H%M%S")
BUCKET = PROJECT_ID
URI = f"gs://{BUCKET}/{SERIES}/{EXPERIMENT}"
RUN_NAME = f'run-{TIMESTAMP}'

BQ_MODEL = f'{SERIES}_{EXPERIMENT}_{TIMESTAMP}'

---
## This Run

In [6]:
print(f'This run with create BQML model: {BQ_PROJECT}.{BQ_DATASET}.{BQ_MODEL}')
print(f'The Timestamp Is: {TIMESTAMP}')

This run with create BQML model: statmike-mlops-349915.fraud.03_kmeans_20221005000845
The Timestamp Is: 20221005000845

---
## Train Model

Use BigQuery ML to train multiclass logistic regression model:
- [K-Means](https://cloud.google.com/bigquery-ml/docs/reference/standard-sql/bigqueryml-syntax-create-kmeans) with BigQuery ML (BQML)
- This uses the `splits` column that notebook `01` created
- `data_split_method = CUSTOM` uses the column in `data_split_col` to assign `TRAIN`, `EVAL`, and `TEST` data splits.
    - the `CASE` statement maps the validation data to `EVAL` as expected by hyperparameter tuning (rather than `VALIDATE`)
    - note that this is different behavior for `data_split_col` with hyperparameter tuning than without hyperparameter tuning
    - hyperparameter suggestions are based on the metric calculated with the evaluation data at each intermediate step

In [ ]:
query = f"""
CREATE OR REPLACE MODEL `{BQ_PROJECT}.{BQ_DATASET}.{BQ_MODEL}`
OPTIONS (
        model_type = 'KMEANS',
        num_clusters = HPARAM_RANGE(2, 100),
        kmeans_init_method = 'KMEANS++',
        distance_type = 'EUCLIDEAN', 
        standardize_features = TRUE,
        early_stop = FALSE,
        hparam_tuning_algorithm = 'VIZIER_DEFAULT',
        hparam_tuning_objectives = ['davies_bouldin_index'],
        num_trials = 20,
        max_parallel_trials = 2
    ) AS
SELECT * EXCEPT({','.join(VAR_OMIT.split())}, splits, {VAR_TARGET})
FROM `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE}`
WHERE splits = 'TRAIN'
"""
job = bq.query(query = query)
job.result()

In [ ]:
(job.ended-job.started).total_seconds()

In [11]:
feature_info = bq.query(
    query = f"""
        SELECT *
        FROM ML.FEATURE_INFO(MODEL `{BQ_PROJECT}.{BQ_DATASET}.{BQ_MODEL}`)
        """
).to_dataframe()
feature_info

,input,min,max,mean,median,stddev,category_count,null_count,dimension
0,Time,0.000000,172792.000000,9.481386e+04,85945.000000,47488.145955,NaN,0,NaN
1,V1,-56.407510,2.454930,1.265369e-15,-0.036327,1.958696,NaN,0,NaN
2,V2,-72.715728,22.057729,1.953067e-15,0.052912,1.651309,NaN,0,NaN
3,V3,-48.325589,9.382558,-1.608274e-15,0.204649,1.516255,NaN,0,NaN
4,V4,-5.683171,16.875344,1.511935e-15,-0.004035,1.415869,NaN,0,NaN
5,V5,-113.743307,34.801666,3.191722e-16,-0.056772,1.380247,NaN,0,NaN
6,V6,-26.160506,73.301626,1.478562e-15,-0.272171,1.332271,NaN,0,NaN
7,V7,-43.557242,120.589494,-2.495469e-16,0.032110,1.237094,NaN,0,NaN
8,V8,-73.216718,20.007208,1.789982e-17,0.025596,1.194353,NaN,0,NaN
9,V9,-13.434066,15.594995,-1.991638e-15,-0.036182,1.098632,NaN,0,NaN
10,V10,-24.588262,23.745136,2.018339e-15,-0.103059,1.088850,NaN,0,NaN
11,V11,-4.797473,12.018913,1.802113e-15,-0.041098,1.020713,NaN,0,NaN
12,V12,-18.683715,7.848392,-5.593265e-16,0.143043,0.999201,NaN,0,NaN
13,V13,-5.791881,7.126883,1.150343e-15,-0.008166,0.995274,NaN,0,NaN
14,V14,-19.214325,10.526766,1.033423e-15,0.049516,0.958596,NaN,0,NaN
15,V15,-4.498945,8.877742,4.814631e-15,0.031136,0.915316,NaN,0,NaN
16,V16,-14.129855,17.315112,1.651633e-15,0.067390,0.876253,NaN,0,NaN
17,V17,-25.162799,9.253526,-4.061133e-16,-0.081533,0.849337,NaN,0,NaN
18,V18,-9.498746,5.041069,5.819946e-16,-0.023404,0.838176,NaN,0,NaN
19,V19,-7.213527,5.591971,9.457724e-16,0.006474,0.814041,NaN,0,NaN
20,V20,-54.497720,39.420904,7.302178e-16,-0.062258,0.770925,NaN,0,NaN
21,V21,-34.830382,27.202839,2.537737e-16,-0.037382,0.734524,NaN,0,NaN
22,V22,-10.933144,10.503090,2.301516e-16,0.001360,0.725702,NaN,0,NaN
23,V23,-44.807735,22.528412,2.486245e-16,-0.011892,0.624460,NaN,0,NaN
24,V24,-2.836627,4.584549,4.449658e-15,0.042278,0.605647,NaN,0,NaN
25,V25,-10.295397,7.519589,7.295380e-16,0.015096,0.521278,NaN,0,NaN
26,V26,-2.604551,3.517346,1.695003e-15,-0.052820,0.482227,NaN,0,NaN
27,V27,-22.565679,31.612198,-3.813683e-16,0.002896,0.403632,NaN,0,NaN
28,V28,-15.430084,33.847808,-1.200468e-16,0.011836,0.330083,NaN,0,NaN
29,Amount,0.000000,25691.160000,8.834962e+01,20.970000,250.120109,NaN,0,NaN
30,custom_splits,NaN,NaN,NaN,NaN,NaN,3.0,0,NaN

In [14]:
trials = bq.query(
    query = f"""
        SELECT *
        FROM ML.TRIAL_INFO(MODEL `{BQ_PROJECT}.{BQ_DATASET}.{BQ_MODEL}`)
        """
).to_dataframe()
trials

,trial_id,hyperparameters,hparam_tuning_evaluation_metrics,training_loss,eval_loss,status,error_message,is_optimal
0,1,{'num_clusters': 51},{'davies_bouldin_index': 1.8537163907415874},15.009085,NaN,SUCCEEDED,None,False
1,2,{'num_clusters': 73},{'davies_bouldin_index': 2.082179750734141},13.896301,NaN,SUCCEEDED,None,False
2,3,{'num_clusters': 27},{'davies_bouldin_index': 2.247807526819555},18.409255,NaN,SUCCEEDED,None,False
3,4,{'num_clusters': 44},{'davies_bouldin_index': 1.8148688451118147},15.821209,NaN,SUCCEEDED,None,True
4,5,{'num_clusters': 100},{'davies_bouldin_index': 2.1268906398614535},12.697958,NaN,SUCCEEDED,None,False
5,6,{'num_clusters': 47},{'davies_bouldin_index': 2.147572198995448},16.196316,NaN,SUCCEEDED,None,False
6,7,{'num_clusters': 61},{'davies_bouldin_index': 2.0466808052250327},14.473987,NaN,SUCCEEDED,None,False
7,8,{'num_clusters': 38},{'davies_bouldin_index': 1.9749450498547934},16.654206,NaN,SUCCEEDED,None,False
8,9,{'num_clusters': 2},{'davies_bouldin_index': 5.167350476826834},29.452045,NaN,SUCCEEDED,None,False
9,10,{'num_clusters': 87},{'davies_bouldin_index': 2.072795598671615},13.276475,NaN,SUCCEEDED,None,False
10,11,{'num_clusters': 16},{'davies_bouldin_index': 2.2047457444180276},21.397238,NaN,SUCCEEDED,None,False
11,12,{'num_clusters': 56},{'davies_bouldin_index': 1.9363238896649553},14.896370,NaN,SUCCEEDED,None,False
12,13,{'num_clusters': 81},{'davies_bouldin_index': 2.142285310215904},13.664637,NaN,SUCCEEDED,None,False
13,14,{'num_clusters': 94},{'davies_bouldin_index': 2.1256506170071194},12.813307,NaN,SUCCEEDED,None,False
14,15,{'num_clusters': 42},{'davies_bouldin_index': 2.0090282163793383},15.994921,NaN,SUCCEEDED,None,False
15,16,{'num_clusters': 68},{'davies_bouldin_index': 2.0321927307246397},14.134917,NaN,SUCCEEDED,None,False
16,17,{'num_clusters': 32},{'davies_bouldin_index': 2.2363159858244894},17.484766,NaN,SUCCEEDED,None,False
17,18,{'num_clusters': 10},{'davies_bouldin_index': 2.028261994020449},24.867703,NaN,SUCCEEDED,None,False
18,19,{'num_clusters': 52},{'davies_bouldin_index': 2.0880048698112827},14.943963,NaN,SUCCEEDED,None,False
19,20,{'num_clusters': 21},{'davies_bouldin_index': 2.021820894497279},20.107351,NaN,SUCCEEDED,None,False

In [15]:
centroids = bq.query(
    query = f"""
        SELECT *
        FROM ML.CENTROIDS(MODEL `{BQ_PROJECT}.{BQ_DATASET}.{BQ_MODEL}`)
        """
).to_dataframe()
centroids

,trial_id,centroid_id,feature,numerical_value,categorical_value
0,1,1,Time,106411.032258,[]
1,1,1,V1,-18.120056,[]
2,1,1,V2,-17.985045,[]
3,1,1,V3,-7.968524,[]
4,1,1,V4,4.907112,[]
...,...,...,...,...,...
31057,20,21,V26,-0.119341,[]
31058,20,21,V27,-0.309476,[]
31059,20,21,V28,-0.023670,[]
31060,20,21,Amount,104.979444,[]
31061,20,21,custom_splits,NaN,"[{'category': 'EVAL', 'value': 0.1180555555555..."

In [16]:
eval = bq.query(
    query = f"""
        SELECT *
        FROM ML.EVALUATE(MODEL `{BQ_PROJECT}.{BQ_DATASET}.{BQ_MODEL}`)
        """
).to_dataframe()
eval

    trial_id  davies_bouldin_index  mean_squared_distance
0          1              1.853716              15.009085
1          2              2.082180              13.896301
2          3              2.247808              18.409255
3          4              1.814869              15.821209
4          5              2.126891              12.697958
5          6              2.147572              16.196316
6          7              2.046681              14.473987
7          8              1.974945              16.654206
8          9              5.167350              29.452045
9         10              2.072796              13.276475
10        11              2.204746              21.397238
11        12              1.936324              14.896370
12        13              2.142285              13.664637
13        14              2.125651              12.813307
14        15              2.009028              15.994921
15        16              2.032193              14.134917
16        17              2.236316              17.484766
17        18              2.028262              24.867703
18        19              2.088005              14.943963
19        20              2.021821              20.107351

In [ ]:
query = f"""
SELECT *
FROM ML.PREDICT (MODEL `{BQ_PROJECT}.{BQ_DATASET}.{BQ_MODEL}`,(
    SELECT *
    FROM `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE}`
    WHERE splits = 'TEST')
  )
"""
pred = bq.query(query = query).to_dataframe()

In [ ]:
pred.head()

In [21]:
query = f"""
SELECT *
FROM ML.DETECT_ANOMALIES (
    MODEL `{BQ_PROJECT}.{BQ_DATASET}.{BQ_MODEL}`,
    STRUCT (0.01 AS contamination),
    (SELECT *
    FROM `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE}`
    WHERE splits = 'TEST')
  )
"""
anomalies = bq.query(query = query).to_dataframe()

In [ ]:
anomalies

In [ ]:
query = f"""
WITH ANOMALIES AS (
        SELECT is_anomaly, {VAR_TARGET}
        FROM ML.DETECT_ANOMALIES (
            MODEL `{BQ_PROJECT}.{BQ_DATASET}.{BQ_MODEL}`,
            STRUCT (0.001 AS contamination),
            (SELECT *
            FROM `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE}`
            WHERE splits = 'TEST')
          )
      )
SELECT is_anomaly, {VAR_TARGET}, count(*) as count
FROM ANOMALIES
GROUP BY is_anomaly, {VAR_TARGET}
"""
bq.query(query = query).to_dataframe()